:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background:white;
  padding: 20px;
}

.wrapper{
  max-width: 1090px;
  width: 100%;
  height: 100%  ;
  display: flex;
  flex-wrap: wrap;
  background:blue;
  margin: auto;
  justify-content: space-between;
  
}
.wrapper .table{
  background:blue;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
 
  box-shadow: 0 20px 20px rgba(0,0,0,.1);
}

.price-section,.features{
  background:white;
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 20px 20px rgba(0,0,0,.1);
  border: 1px solid black;
  border-radius: 10px;
}
.btn{
  box-shadow: 0 20px 20px rgba(0,0,0,.1);
}
.btn:hover
{
  background-color: brown;
  color: #ffffff;
}
ul{
  list-style: none;
}
.features ul li .icon.check:before {
  content: "\2713";
  justify-content: space-between;
}
.features ul li .icon.cross:before {
  content: "\0078";
  opacity: 50%;
   
}
.list-name.cross{
  opacity: 50%;
}
.price{
  font-size: 30px;
  font-weight: bold;
}
.features ul li{
  text-align: left;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  background-color:#535bf2;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}
.line{
  border-bottom: 6px solid rgb(80, 80, 78);
  width: 300px;
  margin: auto;
}